.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

.pintura1{
    background-image: url(../images/Clothing\ Deparment.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 50px;
}

.pintura2{
    background-image: url(../images/reception.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 50px;
}

.pintura3{
    background-image: url(../images/1930\ Store\ Dept.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 50px;
}

.pintura4{
    background-image: url(../images/Mall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 50px;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem; /* You can adjust this as needed */
    font-weight: bold;
    letter-spacing: 1px;
}

.product-img {
    height: 200px;
    object-fit: cover;
  }